.mat-elevation-z6 {
  top: 0;
  margin: 0;
  z-index: 2;
  position: fixed;
}

.borderClass {
  padding: 0.7em 0;
  margin-bottom: -2px;
  border-bottom: 2px solid white;
}

.displNone {
  display: none;
}

.profileInfo {
  width: 20em;
  height: 5em;
}

mat-card-content {
  margin: 0;
  display: block;
  margin-right: auto;
  margin-left: 0.5em;
}

mat-grid-list mat-grid-tile:nth-child(2) mat-card-content {
  font-size: 16px;
  margin-left: 7px;
  text-transform: capitalize;
}

img {
  width: 4em;
  margin: 0 !important;
  vertical-align: middle;
}

span mat-icon {
  width: 1em;
  height: auto;
  font-size: 2em;
  vertical-align: middle;
}

mat-toolbar-row {
  margin-left: auto;
  margin-right: auto;
}

div {
  display: block;
  margin-right: 0;
  margin-left: auto;
}

mat-toolbar {
  display: block;
  text-align: center;
  margin-bottom: 0.5em;
}

a {
  color: white;
  text-decoration: none;
}

div button:hover,
mat-toolbar-row a:hover {
  color: rgb(230, 230, 230) !important;
}

div button:active,
mat-toolbar-row a:active {
  color: darkgrey !important;
}

mat-toolbar-row > span {
  margin-right: 1em;
}

mat-toolbar-row > span:last-child {
  margin-right: 0;
}

mat-toolbar-row button:hover {
  color: black;
}
