<mat-toolbar color="primary" class="mat-elevation-z6">
  <mat-toolbar-row>
    <span>
      <mat-icon>videogame_asset</mat-icon>
    </span>
    <!-- <span><a [routerLink]="['']">Home</a></span> -->
    <span><a [routerLink]="['games']">Home</a></span>
    <span><a [routerLink]="['browse']">Browse</a></span>
    <span><a [routerLink]="['product']">Products</a></span>
    <span><a [routerLink]="['cart']">Favorite list</a></span>
    <span class="example-spacer"></span>

    <div>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item [ngClass]="!isAuthenticated ? 'displNone': 'profileInfo'">
          <mat-grid-list cols="5" rowHeight="2:1">
            <mat-grid-tile colspan="1" rowspan="2">
              <img mat-card-image src="{{profile?.picture}}">
            </mat-grid-tile>
            <mat-grid-tile colspan="4" rowspan="1">
              <mat-card-content>{{profile?.nickname}}</mat-card-content>
            </mat-grid-tile>
            <mat-grid-tile colspan="4" rowspan="1">
              <mat-card-content>{{profile?.name}}</mat-card-content>
            </mat-grid-tile>
          </mat-grid-list>
        </button>

        <button mat-menu-item>
          <button mat-raised-button color="warn" (click)="login()" *ngIf="!isAuthenticated">Log In</button>
          <button mat-raised-button color="warn" (click)="logout()" *ngIf="isAuthenticated">Log Out</button>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>