<mat-toolbar color="primary" class="mat-elevation-z6">
  <mat-toolbar-row>
    <span>
      <mat-icon>videogame_asset</mat-icon>
    </span>
    <span><a [routerLink]="['']">Home</a></span>
    <span><a [routerLink]="['games']">Game list</a></span>
    <span><a [routerLink]="['browse']">Browse</a></span>
    <span class="example-spacer"></span>

    <div>
      <span><a *ngIf="isAuthenticated" (click)="openDialog()"><img src="{{profile?.picture}}"></a></span>

      <button mat-raised-button color="warn" (click)="login()" *ngIf="!isAuthenticated">Log In</button>
      <button mat-raised-button color="warn" (click)="logout()" *ngIf="isAuthenticated">Log Out</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>