.container {
  margin-bottom: 4em;
}

div {
  z-index: 1;
  display: block;
  width: 150.5em;
  margin-left: auto;
  margin-right: auto;
}

div > div {
  width: 27.4em;
  margin: 0 2em 2em 0;
  display: inline-flex;
  border: 1px solid rgb(60, 60, 60);
}

mat-card {
  width: 100%;
  border-radius: 0;
  position: relative;
  background-color: rgb(66, 66, 66);
  padding: 1.75em 1.5em 1.75em 1.5em;
}

mat-card mat-card-header {
  display: block;
  margin-left: -16px;
}

mat-card mat-card-header mat-card-title,
mat-card mat-card-header mat-card-subtitle {
  width: 100%;
  text-align: left;
}

mat-card mat-card-content {
  height: 10em;
  font-size: 1em;
  margin-left: 0;
  line-height: 1.5;
}

mat-card mat-card-title {
  font-size: 1.4em;
}

mat-card p {
  margin: 0;
}

mat-card mat-card-subtitle {
  font-size: 1em;
  margin-bottom: 1.5em;
}

mat-card mat-card-subtitle span {
  margin-right: 0.5em;
  display: inline-block;
}

mat-card .summary {
  display: flex;
  text-align: left;
  margin: 0 0 1em 0;
}

mat-card mat-chip-list {
  display: flex;
}

mat-card mat-chip-list mat-chip {
  width: 7.7em;
  height: 3.2em;
  display: inherit;
  border-radius: 3em;
}

mat-card mat-chip a {
  height: 1.6em;
  display: inline;
  margin-right: 0.25em;
  display: inline-block;
}

mat-card mat-card-content:last-child {
  width: 90%;
  bottom: -5em;
  position: absolute;
}

mat-card mat-card-content button {
  padding: 0.3em 1.25em 0.3em 1.25em;
}

mat-card mat-card-content a {
  color: white;
  font-size: 1.25em;
  text-decoration: none;
}

mat-card mat-icon {
  color: black;
  display: inline;
  font-size: 1.5em;
  vertical-align: middle;
}

mat-card mat-grid-tile:first-child span {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

mat-card mat-grid-tile:last-child span {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 132.6em) {
  div {
    width: 88.6em;
  }
}

@media (max-width: 100em) {
  div {
    width: 60em;
  }
}

@media (max-width: 60em) {
  div {
    width: 17em !important;
  }

  mat-card {
    height: 13em !important;
  }

  div > div {
    margin-right: 0 !important;
  }

  mat-card-header mat-card-title {
    font-size: 1em !important;
    text-align: center !important;
  }

  mat-card-content {
    margin: 0 !important;
    font-size: 16px !important;
  }

  mat-card .summary {
    font-size: 0.75em !important;
    text-align: center !important;
  }

  mat-card mat-chip {
    display: block;
    font-size: 0.75em;
    width: 7em !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
