<div class="container">
  <div *ngFor="let item of items">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{(item.games.name)?(item.games.name):('No Name')}}
        </mat-card-title>
        <mat-card-subtitle>
          <span>{{(item.games.y)?(item.games.y):('N/A')}}</span>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content *ngIf="item.games.summary" class="summary">
        {{item.games.summary | slice:0:180}}&hellip;
      </mat-card-content>
      <mat-card-content *ngIf="!item.games.summary" class="summary">No summary available!</mat-card-content>

      <mat-card-content>

        <mat-grid-list cols="2" rowHeight="3:1">
          <mat-grid-tile>
            <span>
              <mat-chip-list>
                <mat-chip *ngIf="item.games.total_rating" color="accent" selected>
                  <a (click)="remove(item.games.id)">
                    <mat-icon matSuffix color="warn">favorite</mat-icon>
                  </a>
                  {{item.games.total_rating | number:'2.1-2'}}%
                </mat-chip>
                <mat-chip *ngIf="!item.games.total_rating" color="accent" selected>
                  <a (click)="remove(item.games.id)">
                    <mat-icon matSuffix color="warn">favorite</mat-icon>
                  </a>
                  N/A
                </mat-chip>
              </mat-chip-list>
            </span>
          </mat-grid-tile>

          <mat-grid-tile>
            <span>
              <button mat-raised-button color="primary">
                <a [routerLink]="['/details', { id:item.games.id }]">Details</a>
              </button>
            </span>
          </mat-grid-tile>
        </mat-grid-list>

      </mat-card-content>

    </mat-card>
  </div>
</div>