body .container{
  background-color: lightgray;
}

mat-toolbar {
  text-align: center;
  display: block;
  font-size: 2em;
  padding-top: 0.5em;
  margin-bottom: 0.5em;
}

mat-toolbar:first-child {
  font-size: 3em;
  display: block;
  text-align: center;
  padding: 0.5em 0 1.25em 0;
  margin: 0;
}

a {
  font-size: 1em;
  display: block;
  margin: 0 auto 1em auto;
  text-align: center;
}

div button:hover {
  background-color: red;
  color: black;
}

div button:active {
  background-color: rgb(200, 0, 0);
}
