.container {
  margin-bottom: 2em;
}

mat-toolbar {
  font-size: 3em;
  display: block;
  text-align: center;
  padding: 1.75em 0 1.25em 0;
}

a {
  font-size: 1em;
  display: block;
  margin: 1em auto 1em auto;
  text-align: center;
}

div button:hover {
  background-color: red;
  color: black;
}

div button:active {
  background-color: rgb(200, 0, 0);
}
