<div class="sortTypes">
  <button mat-raised-button color="primary" (click)='changeSortType()'>
    {{sortType}}
  </button>
  <button mat-raised-button color="primary" (click)='changeSortDirection()'>
    {{sortDirection}}
  </button>
</div>

<div class="searchBox">
  <mat-form-field appearance="outline">
    <mat-label>Database search</mat-label>
    <input [formControl]='searchTerm' matInput placeholder="Search...">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>

<div *ngIf='tableEnabled'>
  <app-game [GamesInput]='games' [DatesInput]='dates'></app-game>
</div>