.searchBox {
  width: 140em;
}

button,
.searchBox,
.sortTypes,
mat-form-field {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sortTypes {
  width: 12em;
  display: flex;
}

.sortTypes button:first-child {
  float: left;
}

.sortTypes button:last-child {
  float: right;
}

.sortTypes {
  margin-bottom: 1em;
}

div button:hover {
  background-color: red;
  color: black;
}

div button:active {
  background-color: rgb(200, 0, 0);
}

@media (max-width: 132.6em) {
  .searchBox {
    width: 90.2em;
  }
}

@media (max-width: 100em) {
  .searchBox {
    width: 60em;
  }
}

@media (max-width: 60em) {
  .searchBox {
    width: 17em !important;
  }
}
