h1, h2, div div, .searchBox {
  text-align: center;
}

input, button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

div button:hover {
  background-color: red;
  color: black;
}

div button:active {
  background-color: rgb(200, 0, 0);
}

div:last-child {
  margin-bottom: 20px;
}

div input {
  font-size: 1em;
}

div input:hover {
  background-color: rgb(245, 245, 245);
}
