<div class="searchBox">
  <div>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Enter a game name...</mat-label>
      <input [formControl]='searchTerm' matInput placeholder="E.g. Grand Theft Auto">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <div>
    <button class="sortTypes" mat-menu-item (click)='changeSortType()'>
      <mat-icon matSuffix>{{sortType}}</mat-icon>
    </button>
    <button class="sortTypes" mat-menu-item (click)='changeSortDirection()'>
      <mat-icon matSuffix>{{sortDirection}}</mat-icon>
    </button>
  </div>
</div>

<div *ngIf='tableEnabled'>
  <app-game [GamesInput]='games' [DatesInput]='dates'></app-game>
</div>