<div class="searchBox">
  <div>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Database search</mat-label>
      <input [formControl]='searchTerm' matInput placeholder="Search...">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <!-- <button mat-raised-button [matMenuTriggerFor]="menu">Sort</button> -->

  <button class="sortTypes" mat-menu-item (click)='changeSortType()'>
    <mat-icon matSuffix>{{sortType}}</mat-icon>
  </button>
  <button class="sortTypes" mat-menu-item (click)='changeSortDirection()'>
    <mat-icon matSuffix>{{sortDirection}}</mat-icon>
  </button>

  <!-- <mat-menu #menu="matMenu">
    <button class="sortTypes" mat-menu-item (click)='changeSortType()'>
      {{sortType}}
    </button>
  </mat-menu> -->

</div>

<div *ngIf='tableEnabled'>
  <app-game [GamesInput]='games' [DatesInput]='dates'></app-game>
</div>