<app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>

<div class="container" *ngIf="!showSpinner">
  <h1>Popular Games</h1>
  <app-game [GamesInput]='popularGames'></app-game>

  <div class="columnContainer">
    <mat-grid-list cols="3" rowHeight="0.2:1">
      <mat-grid-tile>
        <h2>Coming Soon</h2>

        <app-gamelist [GamesInput]='comingGames'></app-gamelist>
      </mat-grid-tile>

      <mat-grid-tile>
        <h2>Recently Released</h2>

        <app-gamelist [GamesInput]='recentGames'></app-gamelist>
      </mat-grid-tile>

      <mat-grid-tile>
        <h2>Most Anticipated</h2>

        <app-gamelist [GamesInput]='anticipatedGames'></app-gamelist>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>