app-loading-spinner {
  display: block;
  padding: 20% 0;
}

.container {
  width: 150em;
}

.columnContainer {
  width: 88.6em;
}

.container,
.columnContainer {
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 3em;
  color: rgba(255, 255, 255);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-grid-list {
  padding-bottom: 140% !important;
}

mat-grid-tile {
  width: 29em !important;
  padding-top: 135% !important;
}

::ng-deep .columnContainer .mat-grid-tile > .mat-figure {
  display: block !important;
}

@media (max-width: 132.6em) {
  .container {
    width: 88.6em;
  }
}
