<app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>

<div class="container" *ngIf="!showSpinner">
  <h1>Popular Games</h1>
  <app-game [GamesInput]='popularGames'></app-game>

  <div class="container2">
    <mat-grid-list cols="3" rowHeight="0.2:1">
      <mat-grid-tile>
        <h1>Coming Soon</h1>
        <app-game [GamesInput]='comingGames'></app-game>
      </mat-grid-tile>
      <mat-grid-tile>
        <h1>Recently Released</h1>
        <app-game [GamesInput]='recentGames'></app-game>
      </mat-grid-tile>
      <mat-grid-tile>
        <h1>Most Anticipated</h1>
        <app-game [GamesInput]='anticipatedGames'></app-game>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>