.container {
  width: 150em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 3em;
  color: rgba(255, 255, 255);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media (max-width: 132.6em) {
  .container {
    width: 88.6em;
  }
}
