.container {
  width: 100em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

mat-card {
  padding: 2em 2.5em 2em 2.5em;
}

mat-card p {
  margin: 0;
}

mat-card mat-card-header {
  margin-left: -16px;
  height: 9em;
}

mat-card mat-card-title {
  font-size: 3em;
  margin-bottom: 0.5em;
}

mat-card mat-card-subtitle {
  font-size: 2em;
  margin-bottom: 1.5em;
}

mat-card mat-card-content {
  margin-left: 0 !important;
}

mat-card mat-chip-list mat-chip {
  width: 6em;
  height: 2em;
  font-size: 2em;
  margin: 0 0 1em 0;
  text-align: center;
  display: inline-grid;
}

mat-card .summary {
  margin: 0 0 1em 1em;
  font-size: 1.5em;
  text-indent: 2em;
}

mat-card mat-card-content a {
  text-decoration: none;
  font-size: 3em;
  color: white;
}

mat-card mat-card-content a:hover {
  color: rgb(230, 230, 230) !important;
}

mat-card mat-card-content a:active {
  color: darkgrey !important;
}

mat-card iframe {
  height: 20em;
  width: 40em;
}
