<app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>

<div class="container" *ngIf="!showSpinner">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <p>{{(localGame.name)?(localGame.name):('No Name')}}</p>
      </mat-card-title>
      <mat-card-subtitle>
        <span>
          <p>{{(localDate)?(localDate.y):('N/A')}}</p>
        </span>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-chip-list>
      <mat-chip *ngIf="localGame.total_rating" color="accent" selected>{{localGame.total_rating | number:'2.1-2'}}%</mat-chip>
      <mat-chip *ngIf="!localGame.total_rating" color="warn" selected>No rating</mat-chip>
    </mat-chip-list>

    <mat-card-content *ngIf="localGame.summary" class="summary">{{localGame.summary}}</mat-card-content>
    <mat-card-content *ngIf="!localGame.summary" class="summary">No summary available!</mat-card-content>

    <mat-card-content><a href="{{localWebsite.url}}" target="_blank">Steam Page</a></mat-card-content>

    <mat-card-content *ngIf="localVideo">
      <h1>{{localVideo.name}}</h1>
      <iframe [src]='returnVideoUrl()'></iframe>
    </mat-card-content>
  </mat-card>
</div>