app-loading-spinner {
  display: block;
  padding: 20% 50%;
}

.header {
  z-index: 1;
  width: 100%;
  padding: 1% 0;
  position: fixed;
  box-shadow: unset;
  background: transparent;
  margin: -6.9em 0 1em 16px;
}

.header mat-card-content {
  display: flex;
  font-size: 2em;
}

.header mat-card-content span {
  padding: 10px 0;
  margin-right: 0.5em;
}

.header mat-card-content button {
  padding: 0 1em 0 1em;
  margin: 0 32px 0 auto;
}

.header mat-card-content button a {
  color: white;
  font-size: 1.25em;
  text-decoration: none;
}

.header mat-chip-list {
  display: flex;
}

.header mat-chip-list mat-chip {
  width: 8.7em;
  height: 3.1em;
  border-radius: 3em;
  display: inline-block;
}

.header mat-chip a {
  height: 1.6em;
  margin-right: 0.25em;
  display: inline-block;
  text-decoration: none;
}

.header mat-icon {
  display: inline;
  font-size: 2.4em;
  vertical-align: middle;
  color: black !important;
}

.container {
  width: 90em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

mat-grid-list mat-card-content {
  width: 100%;
}

mat-grid-list mat-grid-tile:first-child {
  width: 52% !important;
}

mat-grid-list mat-grid-tile:last-child {
  left: 52% !important;
  width: 49% !important;
}

iframe {
  top: 0;
  left: 0;
  border: 0;
  width: 100%;
  height: 22em;
  height: 100%;
  position: absolute;
}

.videoContent {
  overflow: hidden;
  position: relative;
  padding-top: 56.25%;
}

mat-grid-list {
  margin-top: -2em;
}

mat-grid-list div:first-child {
  margin-bottom: 2em;
}

mat-grid-list div {
  width: 14em;
  height: 14em;
  margin-right: 2em;
  display: inline-block;
}

mat-grid-list div img {
  width: inherit;
  height: inherit;
}

mat-grid-list mat-grid-tile:last-child mat-card-content {
  margin: -10px 0 0 2em;
}

mat-card {
  margin-bottom: 8em;
  padding: 3em 2.5em 3em 2.5em;
}

mat-card p {
  margin: 0;
}

mat-card mat-card-content {
  margin-bottom: 4em;
  margin-left: 0 !important;
}

mat-card h1 {
  font-size: 2.5em;
  font-weight: normal;
  margin-bottom: 0.5em !important;
}

mat-card .summary span {
  opacity: 0.8;
  font-size: 1.5em;
  line-height: 1.5em;
}

mat-card .gamePage a {
  color: white;
  font-size: 3em;
  text-decoration: none;
}

mat-card mat-card-content a:hover {
  color: rgb(230, 230, 230) !important;
}

mat-card mat-card-content a:active {
  color: darkgrey !important;
}
