<app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>

<mat-card class="header" *ngIf="!showSpinner">
  <mat-card-content>
    <span>{{(localGame.name)?(localGame.name):('No Name')}},</span>
    <span *ngFor="let platform of localPlatform">{{platform.abbreviation}}</span>
    <span>{{(localDate)?(localDate.y):('N/A')}}</span>

    <mat-chip-list>
      <mat-chip *ngIf="localGame.total_rating" color="accent" selected>
        <a [routerLink]="['/cart', { id:localGame.id }]">
          <mat-icon matSuffix color="warn">favorite_border</mat-icon>
        </a>
        {{localGame.total_rating | number:'2.1-2'}}%
      </mat-chip>
      <mat-chip *ngIf="!localGame.total_rating" color="accent" selected>
        <a [routerLink]="['/cart', { id:localGame.id }]">
          <mat-icon matSuffix color="warn">favorite_border</mat-icon>
        </a>
        N/A
      </mat-chip>
    </mat-chip-list>

    <button mat-raised-button color="warn" *ngIf="localWebsite">
      <a href="{{localWebsite.url}}" target="_blank">Game Page</a>
    </button>
  </mat-card-content>
</mat-card>

<div class="container">
  <mat-grid-list cols="2" rowHeight="1.5:1" *ngIf="!showSpinner">
    <mat-grid-tile *ngIf="localVideo">
      <mat-card-content class="videoContent">
        <iframe [src]='returnVideoUrl()'></iframe>
      </mat-card-content>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card-content *ngIf="localScreenshots">
        <div *ngFor="let screen of localScreenshots">
          <img [src]='screen.url'>
        </div>
      </mat-card-content>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-card *ngIf="!showSpinner">
    <mat-card-content *ngIf="localGame.summary" class="summary">
      <h1>Summary</h1>
      <span>{{localGame.summary}}</span>
    </mat-card-content>
    <mat-card-content *ngIf="!localGame.summary" class="summary">No summary available!</mat-card-content>

    <mat-card-content *ngIf="localGame.storyline" class="summary">
      <h1>Storyline</h1>
      <span>{{localGame.storyline}}</span>
    </mat-card-content>

    <!-- <mat-card-content class="gamePage" *ngIf="localWebsite">
      <a href="{{localWebsite.url}}" target="_blank">Game Page</a>
    </mat-card-content> -->
  </mat-card>
</div>